name: Publish

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  publish-node-24:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Login to Quay.io
        uses: docker/login-action@v3.7.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_ID }}
          password: ${{ secrets.QUAY_PW }}

      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Build node container
        run: |
          make build-node-24-base
          make build-node-24-dev

      - name: Publish container
        run: |
          TAG=$(git rev-parse --short HEAD)
          docker tag quay.io/mynth/node:24-base quay.io/mynth/node:24-base-$TAG
          docker tag quay.io/mynth/node:24-dev quay.io/mynth/node:24-dev-$TAG
          docker push quay.io/mynth/node:24-base
          docker push quay.io/mynth/node:24-dev
          docker push quay.io/mynth/node:24-base-$TAG
          docker push quay.io/mynth/node:24-dev-$TAG
        if: github.ref == 'refs/heads/main'
